<ion-header-bar ng-class="isHost() ? 'bar bar-header bar-royal' : 'bar bar-header bar-positive'">
  <h1 class="title"><img src='./img/icon2.png' height='40' width='40'></h1>
</ion-header-bar>

<div>
	<br>
	<br>

<!-- Welcome to Q -->
	<div class='card'>
		<br>
		<br>
		<center>
			<h1 style="color:#3884f5;" class='title'>Welcome to Q.</h1>
			<h4 style="color:#3884f5;" >Create a room or enter an existing 
			<br>one to enjoy music playlist with your friends.
			</h4>
		</center>
	 	<br>
	 	<br>
	</div>

<!-- Show Create Room Button without functionality -->
<!-- 	<div class="list list-inset" ng-show="!attemptHost">
		<a ng-click="attemptHost = true" class="button button-block button-positive">Create Room</a>
	</div> -->

<!-- Show Create Room Button with functionality and Password to Enter if someone is attempting to be the host -->
	<div>
		<div class="list list-inset">
			<a ng-click="createRoom()" class="button button-block button-positive">Create Room</a>
		</div>
		<div class="list list-inset">
			<form ng-submit="makeHost()">
		  	<label class="item item-input">
		    	<input type="text" placeholder="Room Name" ng-model="roomname">
		  	</label>
		  </form>
		</div>
	</div>

<!-- Show Enter Room Button -->
	<div class="list list-inset">
		<a ng-click="joinRoom()" class="button button-block button-positive">Enter Room</a>
	</div>

<!-- Entering Rooms does not actually work now, need to create rooms in DB -->
	<div class="list list-inset">
		<form ng-submit="joinRoom()">
		  <label class="item item-input">
		    <input type="text" placeholder="Room Name" ng-model='enteredRoomName'>
		  </label>
	  </form>
	</div>

</div>
