<!-- HEADER -->
<ion-header-bar ng-class="isHost() ? 'bar bar-header bar-royal' : 'bar bar-header bar-positive'">
 <!-- <div class='center'> <img src='./img/logo2white.png' height='35' width='35' class='center'></div> <br> -->
</ion-header-bar>

<!-- LANDING BODY -->
<ion-content class='center'>
<!-- 	Create Room -->
	<div class='center row'>
		<div class='col'>
			<br><br>
			<h4>
				“Without deviation from the norm, progress is not possible.” <br>
			</h4><br>
			<div class='center'> <img src='./img/logo2blackP.png' height='207' width='207'></div> <br>
		</div>
	</div>

<!-- 	<div class='center row'>
		<div class='col'>
			<a ng-click="createRoom()" class="button button-block widthmobile button-positive">Create Room</a>
		</div>
	</div> -->

<!-- Enter Room Button -->
	<div class="center row">
		<div class="col">
			<a ng-click="createRoom()" class="button widthmobile button-royal">Create Room</a>
		</div>
	</div>
	<div class="center row">
		<div class="col">
			<a ui-sref='roomFinder' class="button widthmobile button-positive">Find Room</a>
		</div>
	</div>

	

	<div id='landinginfo' class="center widthmobile">
	  <div class="col">
		 		<a ui-sref='roomFinder'>What is Q?</a>
	  </div>
	</div>


</ion-content>


<div class="bar bar-footer bar-positive">

</div>
