<!-- HEADER -->
<ion-header-bar ng-class="isHost() ? 'bar bar-header bar-royal' : 'bar bar-header bar-positive'">
 <div class='center'> <img src='./img/icon2.png' height='35' width='35' class='center'></div> <br>
</ion-header-bar>

<!-- LANDING BODY -->
<div id="landingbody" >
	<div>
<!-- 	Create Room -->
		<div class="list center list-inset">
			<a ng-click="createRoom()" class="button widthmobile button-positive">Create Room</a>
		</div>
	</div>

<!-- Enter Room Button -->
	<div class="list center list-inset">
		<a ui-sref='roomFinder' class="button widthmobile button-positive">Find Room</a>
	</div>

	

	<div id='landinginfo' class="center widthmobile">
	  <div class="col">
		  <h1>Welcome to Q!</h1>
		 	<p>Q allows users to collaboratively manage a playlist in a real-time environment.
		  Pick a device to connect to a speaker and designate that device as the host. Invite guests to a room to start creating a playlist.<br><br>
		  <strong>To host a room:</strong><br> Click the 'Create Room' button. After you enter the room, the name of a room will be presented in the top right corner of the app header. As a host, you can give this room name out to guests so they can enter the room you just created.<br><br>
		  <strong>To join an existing room as a guest:</strong> <br> Click the Find Room button to see what rooms are available near your location.
	  </div>
	</div>

</div>
