/* Empty. Add your own CSS if you like */
#landinginfo {
  padding-top:20px;
}
#landingbody {
  padding-top: 40px;
}

.verticalPadding {
  padding-top: 20px;
}

.bottomButton {
  width: 35px;
  height: 35px;
}
.highlighted{
  color:red;
}
.rounded{
  border-radius: 5px;

}
.widthmobile {
  width:310px;
}

input {
  text-align: center;
}
.right {
  float:right;
  text-align: right;
}

div.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nowplaying{
  border-radius:5px;
  white-space:nowrap;
  display:table-cell;
  vertical-align: middle;
  text-overflow: ellipsis;
  font-size: 12px;
  position: relative;
  height:35px;
  width:100%;
  padding:5px;
  color:#387EF5;
  border: 1px solid #387EF5;
  overflow: hidden;
  float: left;
}

.nowplayingHost{
  border-radius:5px;
  display: table-cell;
  vertical-align: middle;
  white-space:nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  position: relative;
  height:35px;
  width:100%;
  padding:5px;
  color:#886aea;
  border: 1px solid #886aea;
  overflow: hidden;
  float: left;
}

.searchResults{
  position: absolute;
  top: 5rem;
  z-index:10;
}

/*.songinfo {
  font-size: 14px;
}*/

.searchResultsItem{
  position: relative;
  width: 1400px;
  color:#6D6D6D;
}

.searchBar{
  position: relative;
  margin-bottom: 50px;
}

span.center{
  vertical-align: middle;
}

span.thumb{
  margin-right:10px;
}

span.textcenter{
  display: inline-block;
}

span.large{
   line-height:50px;
}

span.small{
   line-height:15px;
}

img.right {
  float:left;
  margin-right: 3px;

}

img.small {
  height:42px;
  width:42px;
}

.playlistItem {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.marquee p{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    font-family: Tahoma, Arial, sans-serif;
    width: 100%;
    height: 100%;
    top: -2px;
    margin: 0;
    overflow:hidden;
    transform:translateX(100%);
    transform:translateY(100%);
}

.marqueeText {
  position: relative;
  top: -10px;
}

.marquee p:nth-child(1) {
    -webkit-animation: up 2s forwards, across 15s 5000ms linear infinite;
}

@font-face {
  font-family: Langdon;
  src: url(../img/Langdon.otf);
}

@keyframes up {
    0%  {
        transform:translateY(100%);

    }
    100% {
        transform:translateY(0%);
    }

}
@keyframes across {
    0%  {
        transform:translateX(200%);

    }
    100% {
        transform:translateX(-200%);
    } 

}
